[user]
  email = hello@sean.codes
  name = Sean Milligan
[core]
  autocrlf = input
  editor = nano
  eol = native
  excludesfile = ~/.gitignore_global
  longpaths = true
  page = less
[init]
  defaultBranch = "main"
[pull]
  rebase = false
[diff]
  # Always show file moves as moves, not delete/add
  renameLimit = 10000
[alias]
  undo = reset HEAD~
  # View the last commit in git log, only
  last = log -1 HEAD
  # Swap the last two commits in the commit history (for easier amending)
  swap = "!GIT_SEQUENCE_EDITOR=\"sed -i -n 'h;1n;2p;g;p'\" git rebase -i HEAD~2"

