[user]
  email = hello@sean.codes
  name = Sean Milligan
[core]
  autocrlf = input
  editor = nano
  eol = native
  excludesfile = ~/.gitignore_global
  longpaths = true
  page = less
[init]
  defaultBranch = "main"
[pull]
  rebase = false
[alias]
  undo = reset HEAD~
  last = log -1 HEAD
