[user]
  email = sean.milligan@mongodb.com
  name = Sean Milligan
[core]
  autocrlf = input
  editor = nano
  eol = native
  excludesfile = ~/.gitignore_global
  longpaths = true
  page = less
[init]
  defaultBranch = "main"
[pull]
  rebase = false
[alias]
  undo = reset HEAD~
  last = log -1 HEAD
  # Swap the last two commits in the commit history (for easier amending)
  swap = "!GIT_SEQUENCE_EDITOR=\"sed -i -n 'h;1n;2p;g;p'\" git rebase -i HEAD~2"

